<!-- Flyout Nav Trigger -->
<span class="icon-brand-2 flyout-trigger" id="flyout-trigger" ng-click="overlay.toggle()" ng-class="{ 'active': overlay.open }">
    <i class="fa fa-bars nav-open"></i>
    <i class="fa fa-times nav-close"></i>
</span>

<!-- Flyout Nav -->
<nav class="flyout-container" id="flyout" ng-class="{ 'active': overlay.open }">
    <ul>
      <li ng-repeat="item in menuItems">
        <a ng-class="{ active: isActive('{{item.href}}') }" ng-href="/#{{item.href}}" ng-bind="item.name" ng-click="overlay.toggle()"></a>
      </li>
    </ul>
</nav>

<!-- Site Overlay -->
<div class="site-overlay" id="site-overlay" ng-click="overlay.toggle()" ng-class="{ 'visible': overlay.open }"></div>